/* src/styles/auth.css */

.auth-container {
  min-height: 100vh;
  background-image: url("/public/image1.png");
  background-size: cover;
  background-position: center;
  position: relative;
  animation: bgZoom 18s ease-in-out infinite alternate;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.auth-card {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 380px;
  padding: 24px;
  border-radius: 14px;
  color: #fff;
  animation: fadeUp 0.8s ease;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-form input {
  padding: 12px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #fff;
}

.auth-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.auth-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.35)
  );
  animation: lightMove 10s ease-in-out infinite;
}

@keyframes lightMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bgZoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 480px) {
  .login-card {
    padding: 28px 20px;
  }

  .login-title {
    font-size: 26px;
  }
}
